

<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      lang="en" dir="ltr">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

    <meta property="og:url"                content="http://dtodoaqui.com/services/api/share/{{ id }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ titulo }}" />
    <meta property="og:description"        content="{{ descripcion }}" />
    <meta property="og:image"              content="{{ url_imagen }}" />
    <title></title>
</head>
<body>
</body>
</html>
